**Contadores con listas**

In [ ]:
edades = [34, 50, 28, 20, 44]

contadorMayores30 = 0
i = 0
while(i < len(edades)):
  if(edades[i] > 30):
    contadorMayores30 = contadorMayores30+1
  i = i+1

print("Total mayores de 30: "+str(contadorMayores30))

**Contadores con listas que contienen diccionarios**

In [ ]:
ciudad1 = {"nombre":"Envigado", "habitantes": 249800}
ciudad2 = {"nombre":"Sabaneta", "habitantes": 87981}
ciudad3 = {"nombre":"Rionegro", "habitantes": 147484}

ciudades = [ciudad1, ciudad2, ciudad3]
contador = 0

for ciudad in ciudades:
  if(ciudad["habitantes"] > 90000):
    contador = contador+1

print("MÃ¡s de 90000 habitantes: "+str(contador))

**Acumuladores con listas**

In [ ]:
salarios = [3000, 1500, 800]

acumuladorSalarios = 0
i = 0
while(i < len(salarios)):
  acumuladorSalarios = acumuladorSalarios+salarios[i]
  i = i+1

print("Total suma de salarios: "+str(acumuladorSalarios))

**Acumuladores con listas que contienen diccionarios**

In [ ]:
ciudad1 = {"nombre":"Envigado", "habitantes": 249800}
ciudad2 = {"nombre":"Sabaneta", "habitantes": 87981}
ciudad3 = {"nombre":"Rionegro", "habitantes": 147484}

ciudades = [ciudad1, ciudad2, ciudad3]
acumulador = 0

for ciudad in ciudades:
  acumulador = acumulador+ciudad["habitantes"]

promedio = acumulador/len(ciudades)
print("Promedio de habitantes: "+str(promedio))

**Banderas**

In [ ]:
notas = [4.0, 2.0, 1.2, 4.7, 1.7]
banderaNotaAlta = False

for nota in notas:
  if(nota > 4.5):
    banderaNotaAlta = True
    Break

if(banderaNotaAlta):
  print("Sacaste por lo menos una nota alta")
else:
  print("No sacaste notas altas")

**Ejercicio E15.2.**

In [ ]:
edades = [20, 10, 29]

for edad in edades:
  if(edad < 15):
    break
  print(edad)

**Ejercicio E15.3.**

In [ ]:
a1 = {"nombre":"2022 HX1", "distancia":2490000}
a2 = {"nombre":"2022 HA2", "distancia":4620000}
a3 = {"nombre":"101955 Bennu", "distancia":32490000}
asteroides = [a1, a2, a3]