**Programando nuestro primer ciclo for**

In [ ]:
edades = [25, 7, 39]

for edad in edades:
  print(edad)

print("Fin programa")

**Ciclo for con textos**

In [ ]:
mensaje = "Hola Ana"

for caracter in mensaje:
  print(caracter)

**Ciclo for con diccionarios**

In [ ]:
ciclista = {"nombre":"Egan", "apellido":"Bernal", "tipo":"Escalador"}

for clave in ciclista:
  print(clave+": "+ciclista[clave])

**Ciclo for con listas que contienen diccionarios**

In [ ]:
discoteca1 = {"nombre":"Perro negro", "ubicación":"Poblado"}
discoteca2 = {"nombre":"Teatro victoria", "ubicación":"Poblado"}

discotecas = [discoteca1, discoteca2]

for discoteca in discotecas:
  print(discoteca["nombre"]+" - "+discoteca["ubicación"])

**Función range**

In [ ]:
numeros = [1, 2, 3, 4, 5]

for numero in numeros:
  print(numero)

**Función range con un sólo argumento**

In [ ]:
for numero in range(6):
  print(numero)

**Función range con múltiples argumentos**

In [ ]:
for numero in range(1, 7, 2):
  print(numero)

**Ejercicio E13.1.**

In [ ]:
numero = int(input())
for i in range(numero):
  print("Rocas")

**Ejercicio E13.3.**

In [ ]:
mercado = ["Pan", "Harina", "Huevos"]
for articulo in mercado:
  print(articulo)