**Función input**

In [ ]:
print("Ingrese su nombre")
nombre = input()
print("Su nombre es:")
print(nombre)

**Función input – tipo por defecto (error)**

In [ ]:
edad = input("Ingrese su edad: ")
mitadDeEdad = edad/2
print(mitadDeEdad)

**Función int**

In [ ]:
edad = int(input("Ingrese su edad: "))
mitadDeEdad = edad/2
print(mitadDeEdad)

**Funciones int, float y str**

In [ ]:
edadPadre = input("Ingrese edad: ")
edadMadre = int(input("Ingrese edad: "))
estaturaPadre = float(input("Ingrese estatura: "))
print(type(edadPadre))
print(type(edadMadre))
print(type(estaturaPadre))
print(edadPadre)
print(edadMadre)
print(estaturaPadre)

**Función print**

In [ ]:
nombre = "Paola"
edad = 30
print("Nombre: ")
print(nombre)
print("Edad: ")
print(edad)

**Concatenación de datos en salida por pantalla (error)**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre: "+nombreProducto)
print("Precio: "+precioProducto)

**Concatenación de datos en salida por pantalla**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre: "+nombreProducto)
print("Precio: "+str(precioProducto))

**Impresión con comas**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre:",nombreProducto,"- Precio:",precioProducto)

**Ejercicio E6.1.**

In [ ]:
edadPadre = 44
edadMadre = input("Ingrese la edad: ")
edadModificada = int(edadMadre)